<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.goods.mapper.GoodsMapper">
    <resultMap id="dataMap" type="com.example.common.model.Goods">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="price" column="price" jdbcType="NUMERIC"/>
        <result property="storage" column="storage" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="columns">
        id, name, price, storage
    </sql>

    <select id="get" resultMap="dataMap">
        select
        <include refid="columns"/>
        from tb_goods
        where id = #{id}
    </select>

    <select id="list" resultMap="dataMap">
        select
        <include refid="columns"/>
        from tb_goods
    </select>

    <insert id="create" parameterType="com.example.common.model.Goods">
      insert into tb_goods(id,name, price, storage)
      values
      (
         #{id},#{name}, #{price}, #{storage}
      )
    </insert>

    <update id="update" parameterType="com.example.common.model.Goods">
      update tb_goods set
      <if test="name != null">
        name = #{name},
      </if>
      <if test="price != null">
        price = #{price},
      </if>
      <if test="storage != null">
        storage = #{storage}
      </if>
      where id = #{id}
    </update>

</mapper>